@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;  
}

body {
  margin: 0 auto;
  background: #fa4242;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 400px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  line-height: 1.1;
  text-align: center;
  color: #013034;
  text-transform: uppercase;  
}

.input-wrapper {
  margin: 5rem 0;
}
.input-wrapper div {
  margin-top: 2rem;
  color: yellow;
  margin-left: 3.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.input-wrapper input {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border: none;
}

h3 {
  text-transform: uppercase;
  color: #013034;
}

.site-footer
{
  background-color: rgba(38, 39, 43, .5);
  padding: auto;
  margin-top: 20px;
  font-size: 12px;
  line-height: 60px;
}

.site-footer .copyright-text
{
  margin-top: 15px;
  transform: translate(0, -5%);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.site-footer .copyright-text a
{
  color: #c99575;
  font-family: Trebuchet MS;
  font-size: 1.1rem;
}
.site-footer .copyright-text a:hover
{
  color: #a3a6cc;
  text-decoration: none;
}

.site-footer .social-icons
{
  text-align: right;
  padding-left: 0;
  /* margin-bottom: 0; */
  list-style: none;
  margin-top: 15px;
}

.site-footer .social-icons a
{
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  background-color: #33353d;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  transform: translate(-5%, -5%);
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.site-footer .social-icons li
{
  display: inline-block;
  /* margin-bottom: 0; */
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
.social-icons a.github:hover
{
  background-color:#696c89
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:20px
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text, .site-footer .social-icons
  {
    text-align:center  
  }
}